target/
*~
#*
*.o
*.so
*.a
*_wrap.cxx
*.log
dependencies.mk
createIndex/createIndex
createIndex/schemas/
libFMD/jar/
libFMD/java/
libFMD/libfmd.jar
libFMD/testRunner
speedMap/speedMap
nbproject/
data/*
mhc/*.fa
mhc/*.txt
mhc/out*/
mhc/tree*/
gmon.out
callgrind.out.*
