target/
*~
#*
*.o
*.so
*.a
*_wrap.cxx
*.log
*.pyc
*.tsv
*.txt
dependencies.mk
createIndex/createIndex
createIndex/cactusMerge
createIndex/evaluateMapability
createIndex/mapReads
createIndex/schemas/
libFMD/jar/
libFMD/java/
libFMD/libfmd.jar
libFMD/testRunner
speedMap/speedMap
nbproject/
data/*
mhc/*.fa
mhc/*.txt
mhc/out*/
mhc/tree*/
mhc/*.gff3
mhc/*.psl
mhc/*.maf
mhc/*.amb
mhc/*.ann
mhc/*.bwt
mhc/*.pac
mhc/*.sa
gmon.out
callgrind.out.*
markov/*.model
