[submodule "deps/pinchesAndCacti"]
	path = deps/pinchesAndCacti
	url = https://github.com/benedictpaten/pinchesAndCacti.git
[submodule "deps/sonLib"]
	path = deps/sonLib
	url = https://github.com/benedictpaten/sonLib.git
[submodule "deps/vflib"]
	path = deps/vflib
	url = https://github.com/adamnovak/vflib.git
